body {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-break: break-all;
  height: 100vh;
}

.login {
  display: inline-block;
  height: calc(70vh - 1px);
  width: 100vw;
  text-align: center;
  background: #5c258d;
  background: -webkit-linear-gradient(to right, #4389a2, #5c258d);
  background: linear-gradient(to right, #4389a2, #5c258d);
}

label {
  display: block;
  margin: 10px 0 3px 0;
  font-size: 18px;
}

input {
  margin-bottom: 10px;
  width: 70%;
  border-radius: 3px;
}

button {
  display: block;
  margin-top: 10px;
  width: 40%;
  margin-bottom: 10px;
  font-size: 18px;
}

img {
  margin-left: 20vw;
  width: 60vw;
  height: 30vh;
}

.logoDiv {
  background-color: #d6d5ff;
  border-bottom: 1px solid black;
}

.box {
  border: 1px solid black;
  background: #ffffff;
  margin: 80px 0 0 40%;
  border-radius: 5px;
  padding: 50px 0 40px 0;
  width: 20%;
}
