body {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-break: break-all;
  background: #fffae6;
  background: -webkit-linear-gradient(to right, #ffffff, #fffae6);
  background: linear-gradient(to right, #ffffff, #fffae6);
}

/* MAIN */

.logout {
  float: right;
  margin-right: 5px;
  position: relative;
  top: -36px;
  padding: 2px 5px 2px 5px;
}

.formBtnDel {
  display: inline;
}

.nav {
  display: inline-block;
  width: 100vw;
}

.nav-item {
  display: inline-block;
}

.active {
  background-color: #fffdf4 !important;
  color: #0d6efd !important;
}

.nav-link {
  color: black;
}

.table {
  text-align: center;
  margin: 5vh 5vw 0 5vw;
  width: 90vw;
  border: 1px solid black;
  min-width: 900px;
}

.userImg {
  height: 26px;
  width: 26px;
  margin-right: 2px;
}

.loggedInArea {
  display: inline-block;
  position: relative;
  top: -51px;
  left: 80%;
  width: 100px;
}

.loggedInAs {
  line-height: 26px;
}

.errAlign {
  text-align: center;
}

.logo {
  margin-left: 20vw;
  width: 60vw;
  height: 21vh;
}

.fillBg {
  background-color: #f3e9f1;
}

.navDivSize {
  height: 45px;
}

/* Create account */

.newAccForm {
  padding: 30px 0px;
  width: 40%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5vh 30% 0 30%;
  min-width: 350px;
}

/* .newAccSpan {
  margin-left: 30%;
  font-size: 15px;
  font-style: oblique;
  font-weight: lighter;
} */

label {
  display: block;
  margin: 15px 0 5px 15%;
}

.createAccBtn {
  display: block;
  width: 130px;
  margin: 20px 0 0 calc((100% - 130px) / 2);
}

.form-control {
  margin: 0 15% 0 15%;
  width: 70%;
}

#iban {
  text-align: center;
  word-spacing: 3px;
  letter-spacing: 0.5px;
}
