body {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-break: break-all;
  background: #304352;
  background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
  background: linear-gradient(to right, #d7d2cc, #304352);
}

a {
  margin: 10px;
  text-decoration: none;
}

a:hover {
  color: blue;
}
.atsijungti {
  float: right;
}

div {
  width: 98%;
}

.list {
  color: rgb(0, 0, 185);
  margin-right: 5px;
}

.align {
  margin-left: 5%;
}
